@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Neuropolitical';
    src: url('../fonts/NeuropoliticalRg-Regular.woff2') format('woff2'),
    url('../fonts/NeuropoliticalRg-Regular.woff') format('woff'),
    url('../fonts/NeuropoliticalRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'virgo';
    src: url('../fonts/virgo.ttf') format('truetype');
}

/*

font-family: 'Orbitron', sans-serif;
font-family: 'Sarpanch', sans-serif;
font-family: 'Montserrat', sans-serif;

*/
.bloc-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-Connect {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    animation-name: icon-connect;
    animation-duration: 2s;
    opacity: 1;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}

.bloc-connected {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

.bloc-connected a {
    text-decoration: none;
    font-size: 0.5rem;
}

.connected {
    display: flex;
    color: white;
    margin: 0;
    padding-right: 8px;

}

.connected-pseudo {
    color: #ff6a00;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.body-contain {
    margin: 0;
    padding: 0;

}

.header-contain {
    margin: 0;
    padding: 0;
}

.main-content {
    height: max-content;
}

.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-text h4 {
    font-family: 'Neuropolitical', sans-serif;
    font-size: 2.5rem;
    text-align: center;

}

.nav-carbon {
    background-color: #1c1c1c;
    border-bottom: 3px solid #ff6a00;
}

.bloc-nav {
    padding: 0 20px
}

.nav-separator {
    width: 100%;
    border: 2px solid #ff611f;
    margin: 10px 0 10px 0;
    display: none;
    opacity: 1;
}

#nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#nav a:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 12px #0366f8, 0 0 15px #0366f8, 0 0 22px #0366f8, 0 0 35px #0366f8, 0 0 50px #0366f8, 2px 2px 2px rgba(11, 134, 224, 0);
    transition: 0.5s;
}

#nav li {
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}


.navbar-toggler-icon {
    background-color: darkgrey;
    border-radius: 5px;
}


/******************************* VIOLATION MESSAGE  *************************/

.violation {
    padding: 0;
}

.violation li {
    list-style: none;
    color: red;

}

/******************************* SECTION ADMIN *******************************/

.section-page-posts-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
}

.section-page-posts-manager h1 {
    margin: 50px 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/********** ADMIN MANAGER ************/
.icon-posts-manager {
    width: 25px;
}

.table-posts {
    border-spacing: 2px;
    border-collapse: separate;

}

.title-table-posts-manager {
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;


}

.title-table {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #ff611f;
    color: white;

}

.create-post-btn, .view-commentarys-btn {
    margin-bottom: 40px;
    width: 200px;

}


.table-posts td, th {
    border: 1px solid #333;
    padding: 5px;
}

.scope-id {
    color: #ff611f;
}

/********** ADMIN CREATE POST ************/
.form-create-post {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-create-post {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;

}
.title-create-post h1{
    margin: 50px 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.bloc-btn-form-create-post {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 150px;
}

.create-post-label {
    font-family: 'Orbitron', sans-serif;
}

.input-create-post {
    margin-bottom: 10px;
}

/********** ADMIN UPDATE POST ************/
.title-update-post h1{
    margin: 50px 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.postId {
    color: #ff6a00;
    font-weight: bold;
}

.form-update-post {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-update-post {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;

}

.bloc-btn-form-update-post {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 150px;
}

.update-post-label {
    font-family: 'Orbitron', sans-serif;
}

.input-update-post {
    margin-bottom: 10px;
}


/********** ADMIN DELETE POST ************/
.bloc-delete-message {
    display: flex;
    justify-content: center;
}

.delete-message {
    font-size: 1rem;
    margin-bottom: 50px;
    opacity: 0;
    animation-name: deletePost;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

.section-delete-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-delete-page h1 {
    margin: 50px 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.section-delete-page p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.valuePostDelete {
    color: #ff6a00;
    font-size: 1.5rem;
    font-weight: normal;
}

.bloc-delete {
    border-radius: 25px;
    padding: 15px;
    text-align: left;
    margin: 20px 0;
    border: 2px solid #4b4b4b;
}

.bloc-btn-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;

}

/******************************* SECTION VALIDATION MESSAGE *******************************/

.commentary-manager{
    padding-bottom: 100px;
}

.section-page-details-commentaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;

}

.section-page-details-commentaire h1{

    margin: 50px 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.content-commentary h6{
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
}

.detail-commentary{
    border: 1px solid #4b4b4b;
    padding:10px;
}
.bloc-btn-valid-comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0 150px 0;

}
.btn-valid-comment{
    margin: 0 10px 0 10px;
}


.title-table-refused, .title-table-validate{
    background-color: #333;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.commentarys-refused{
    background-color: red;
}
.commentarys-validate{
    background-color: darkgreen;
}
.not-validate-commentary {
    margin-top: 15px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}











/******************************* SECTION HOMEPAGE *******************************/

.content-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0 5px;

    background-image: url("../img/background-carbon1.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo-home-page {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: #00c4ff 0 -1px 4px, #ffffff 0 -2px 10px, #00fff8 0 -10px 20px, #6381ff 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 250px;

}

.content-home-page h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #ffffff;
    font-family: 'Neuropolitical', sans-serif;
    font-weight: bold;

    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 15px #FFF, 0 0 20px #00c4ff, 0 0 30px #00c4ff, 0 0 40px #00c4ff, 0 0 55px #00c4ff, 2px 2px 1px rgba(255, 116, 13, 0);
}

.content-home-page p {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    filter: drop-shadow(0 0 1rem #ff6a00);


}

/******************************* SECTION LOGIN *******************************/
.section-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-login {
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #ff6a00;
    width: 100%;
}

.bloc-login {
    margin-bottom: 200px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 30px;
    border: 1px solid #ff611f;
    border-radius: 30px;
}

.input-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}

.login-login {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
}

.checked-login {
    margin-top: 5px;
}

.bloc-btn-form-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.btn-form-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-form-login:hover {
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    color: white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 12px #0366f8, 0 0 15px #0366f8, 0 0 22px #0366f8, 0 0 35px #0366f8, 0 0 50px #0366f8, 2px 2px 2px rgba(11, 134, 224, 0);
    transition: 0.5s;
    padding: -12px;
    width: 45%;
}


/******************************* SECTION REGISTER *******************************/
.section-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-register {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #ff6a00;
    width: 100%;
}

.bloc-register {
    margin-bottom: 200px;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 30px;
    border-radius: 50px;
}

.input-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.input-register-picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
}

.input-register-form {
    width: 100%;

}

.register-label {
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    margin-top: 30px;
    width: 100%;
}

.bloc-btn-form-register {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.btn-form-register {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-form-register:hover {
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    color: white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 12px #0366f8, 0 0 15px #0366f8, 0 0 22px #0366f8, 0 0 35px #0366f8, 0 0 50px #0366f8, 2px 2px 2px rgba(11, 134, 224, 0);
    transition: 1s;
    border-radius: 50px;
}

.bloc-link-subscribe {
    margin-top: 50px;
    text-align: center;
}

.bloc-link-subscribe a {
    text-decoration: none;
}

.bloc-link-subscribe a:hover {
    color: #ff6a00;
    transition: 0.3s;
}

/******************************************* SECTION CONTACT **************************************/
.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-contact {
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #ff6a00;
    width: 100%;
}

.bloc-contact {
    margin-bottom: 100px;
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    border-radius: 30px;
    box-sizing: border-box;
}

.input-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
    width: 100%;
}

.contact-label {
    display: block;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
}

.checked-form {
    margin-top: 5px;
}

.bloc-btn-form-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.btn-form-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-form-contact:hover {
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    color: white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 12px #0366f8, 0 0 15px #0366f8, 0 0 22px #0366f8, 0 0 35px #0366f8, 0 0 50px #0366f8, 2px 2px 2px rgba(11, 134, 224, 0);
    transition: 0.5s;
    padding: -12px;
    width: 45%;
}



/******************************* SECTION POSTS VIEW *******************************/

.section-posts-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;


}

.titre-page-post-view {
    background-color: #0c0c0c;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 12px #0366f8, 0 0 15px #0366f8, 0 0 22px #0366f8, 0 0 35px #0366f8, 0 0 50px #0366f8, 2px 2px 2px rgba(11, 134, 224, 0);
    text-align: center;
    line-height: 80px;
    color: white;
    padding: 15px;
    font-size: 2.5rem;
    margin-top: 2px;
    margin-bottom: 50px;
    font-family: 'Neuropolitical', sans-serif;
}

.bloc-post {
    border-radius: 10px;
    border: 1px solid #696969;
    margin: auto;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    position: relative;
}

.titre-post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    padding: 10px 15px 10px 15px;
    border: 1px solid #696969;
    color: white;
    background-image: url("../img/background-retro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
    font-family: 'Orbitron', sans-serif;
    /*background: rgb(0,185,255);*/
    /*background: linear-gradient(0deg, rgba(0,185,255,1) 0%, rgba(0,98,146,1) 33%, rgba(0,35,68,1) 62%, rgba(0,0,24,1) 91%);*/
}

.titre-post h1 {
    font-size: 1.5rem;
    padding: 5px;
    color: #ff6a00;

}

.titre-post h2 {
    font-size: 1.2rem;
    padding: 5px;
}

.titre-post h3 {
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: end;
}


.contenu-post {
    padding: 20px;
    margin-bottom: 50px;
    text-align: justify-all;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-overflow: Ellipsis;
    Word-wrap: break-Word;
    max-width: 75ch;
}

.btn-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-neon:hover {
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    color: white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 12px #0366f8, 0 0 15px #0366f8, 0 0 22px #0366f8, 0 0 35px #0366f8, 0 0 50px #0366f8, 2px 2px 2px rgba(11, 134, 224, 0);
    transition: 0.5s;
    padding-right: 30px;
    padding-left: 30px;
}

/********************************** SECTION POST DETAILS *******************************/

.span-author {
    color: #ff6a00;
    font-weight: bold;
}

.titre-page-post-details {
    background-color: #0c0c0c;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 12px #0366f8, 0 0 15px #0366f8, 0 0 22px #0366f8, 0 0 35px #0366f8, 0 0 50px #0366f8, 2px 2px 2px rgba(11, 134, 224, 0);
    text-align: center;
    line-height: 80px;
    color: white;
    padding: 15px;
    font-size: 2.5rem;
    margin-top: 2px;
    margin-bottom: 50px;
    font-family: 'Neuropolitical', sans-serif;
}

.bloc-post-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    margin: 0 auto 60px auto;
    border: 2px solid #696969;
    color: white;
    font-family: 'Orbitron', sans-serif;

    /*background: rgb(0,185,255);*/
    /*background: linear-gradient(0deg, rgba(0,185,255,1) 0%, rgba(0,98,146,1) 33%, rgba(0,35,68,1) 62%, rgba(0,0,24,1) 91%);*/
}

.header-bloc-post-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background-color: #0c0c0c;
    padding: 10px 15px 10px 15px;
}

.post-details h1 {
    font-size: 1.5rem;
    padding: 5px;
    color: #ff6a00;

}

.post-details h2 {
    font-size: 1.2rem;
    padding: 5px;
}

.published-at h3 {
    font-size: 0.8rem;
    margin: 0;
    text-align: end;
    padding: 5px;
}

.content-post-details {
    color: #212529;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.bloc-post-commentarys {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.bloc-commentary {
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid #2a2a2a;
    font-family: 'Montserrat', sans-serif;
    background-color: #e8e8e8;
}

.bloc-commentary h4 {
    font-size: 0.9rem;
}

.bloc-commentary h5 {
    font-size: 0.8rem;
}

.bloc-post-commentarys h6 {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color: #ff6a00;
    color: white;
    line-height: 40px;
}

.bloc-form-commentary {
    margin: 20px 0 20px 0;
}

.label-commentary {
    font-family: 'Orbitron', sans-serif;
}

textarea {
    box-sizing: border-box;
    color: #2a2a2a;
    word-wrap: break-word;
    word-break: break-all;
}

.section-message-connect-commentary {
    margin: 70px 0;
}

.message-connect-commentary {
    font-family: 'Orbitron', sans-serif;
}

.message-connect-commentary a {
    text-decoration: none;
    color: #ff6a00;
    opacity: 0.5;
}

.message-connect-commentary a:hover {
    opacity: initial;
    transition-duration: 0.2s;

}


/********************************** SECTION FOOTER *******************************/

.bloc-footer {
    display: flex;
    flex-direction: column;
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
    background-color: #212529;
    border-top: 3px solid #ff6a00;
}

.copyright {
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 10px 0 10px 0;
}

.bloc-picto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.picto {
    width: 60px;
    margin: 5px;
}

.link-footer ul {
    padding: 0;
    margin: 5px 0 5px 0;
}

.link-footer li {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    list-style: none;
    color: white;
    font-size: 0.8rem;
}

.link-footer li:hover {
    transition: ease-in-out;
    transition-duration: 0.2s;
    color: orange;
    font-size: 0.9rem;
    margin: -1.2px;
}

.link-admin {
    color: grey;
}

.link-admin:hover {
    color: deepskyblue;
    transition: ease-in-out;
    transition-duration: 0.2s;
    font-size: 0.9rem;
}

/********************************************************************************
********************************* MEDIA QUERIES *********************************
*******************************************************************************/

/************************* 1300 PX **********************************/
@media screen and (max-width: 1300px) {

    .bloc-link {
        align-items: center;
    }

    .bloc-nav {
        flex-direction: column;
        padding: 0;
    }

    #nav li {
        font-size: 0.8rem;
    }

    .nav-separator {
        display: unset;
    }

    .logo-text {
        flex-direction: column;
        width: 100%;
    }

    .logo-text h4 {
        margin: 5px 0 5px 0;
        font-size: 2rem
    }

    .content-home-page p {
        font-size: 2rem;
    }

}

/************************* 992 PX **********************************/
@media screen and (max-width: 992px) {
    .bloc-connected {
        margin-bottom: 10px;
    }

    .connected {
        align-items: center;
        font-size: 0.7rem;
    }

    .connected-pseudo {
        font-size: 0.7rem;
    }

    .input-register {
        justify-content: center;
    }

    .input-register-picture {
        width: 60%;
    }
}

/************************* 768 PX **********************************/
@media screen and (max-width: 768px) {

    .logo-text h4 {
        font-family: 'Neuropolitical', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    .logo-home-page {
        width: 150px;
    }

    .content-home-page h1 {
        font-size: 2rem;
    }

    .picto {
        width: 40px;
    }

    .link-footer li {
        font-size: 0.6rem;
    }

    .content-home-page p {
        font-size: 1.5rem;
    }

    .bloc-btn-form-create-post {
        flex-direction: column;
        align-items: center;
    }

    .btn-form-create-post {
        margin-bottom: 15px;
    }

}

/************************* 576 PX **********************************/
@media screen and (max-width: 576px) {


    .content-home-page h1 {
        font-size: 1.5rem;
    }

    .content-home-page p {
        font-size: 1rem;
    }

    .copyright {
        font-size: 0.6rem;
    }

    .bloc-btn-form-login, .bloc-btn-form-register {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-form-login, .btn-form-register {
        margin-top: 15px;
    }

    .input-register {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .input-register-form {
        width: 100%;
    }
    .title-contact{
        margin-bottom: 20px;
    }
    .bloc-btn-form-create-post{
        padding-bottom: 30px;
    }

}

/************************* 386 PX **********************************/
@media screen and (max-width: 386px) {


}


@keyframes deletePost {
    0% {
        opacity: 1
    }
    98% {
        opacity: 1
    }
    100% {
        opacity: 0;
        display: none
    }

}


/************************************************ @KEYFRAME ********************************************************/

@keyframes icon-connect {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
