{% extends '/base.html.twig' %}

{% block title %}Posts Modify Manager {% endblock %}



{% block body %}
    <section class="section-page-posts-modify-manager">

        <h1>Posts Modify Manager</h1>


        <div class="bloc-posts-modify-manager m-5 ">

            <form class="form-modify-Post" action="/adminModifyPost" method="post">

                <div class="input-title">
                    <label for="postTitle" class=" post-title-label">TITRE</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="postTitle" id="postTitle"
                               value="{{ posts.title }}" >
                    </div>


                </div>
            </form>




    </section>

{% endblock %}
