{% extends 'base.html.twig' %}

{% block title %}Page Accueil {% endblock %}



{% block body %}
    <section class="content-page">

        <h1>PAGE ADMIN</h1>
        <p>

        </p>
    </section>

{% endblock %}