{% extends 'base.html.twig' %}

{% block title %}Page Accueil {% endblock %}



{% block body %}
    <section class="content-home-page pt-2 pt-lg-5 pt-sm-2 pb-5">
        <img class="logo-home-page mt-5" alt="logo-actarus-design" src="/img/iconBlog-250px.png">

        <h1 class="pt-3 ">RISO NICOLAS</h1>
        <p class="pt-3 pt-md-5 pt-lg-5 pb-5">
            <em>" Qui garde son âme d'enfant ne vieillit jamais"</em>
        </p>
    </section>

{% endblock %}