{% extends 'base.html.twig' %}


{% block title %}Page Posts {% endblock %}



{% block body %}


    <h1>PAGE POSTS</h1>


        <ul>
            {% for posts in post %}
                <li>{{ post.title}}</li>
            {% endfor %}
        </ul>





    {% set collection = [1, 2, 3] %}

    <ul>
        {% for item in collection %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    {#
    Va afficher seulement ce code HTML:

    <ul>
        <li>1</li><li>2</li><li>3</li>
    </ul>
    #}



{% endblock %}